/* Write your CSS here! */
body {
    margin: 8px;
}
p {
    padding: 5% 20%;
}
img {
    padding: 2% 30% 4%;
}
#mainHeading {
    color: red;
    padding: 2% 20% ;
}
.funParagraph {
    color: green;
}